{% import "_includes/forms" as forms %}

{% set phpBinPath = constant('PHP_BINARY')? constant('PHP_BINARY') : '/usr/bin/php' %}

{% set code %}
    <code>0 0 * * MON {{ phpBinPath }} {{ alias('@root/craft') }} k4-carla-tools/send/mail</code>
{% endset %}

{{ forms.textField({
    label: 'Group ID'|t,
    instructions: 'ID of the Group in Carla',
    id: 'groupId',
    name: 'groupId',
    value: settings['groupId'],
    required: true})
}}

{{ forms.textField({
    label: 'Group Name'|t,
    instructions: 'Name of the Group in Carla',
    id: 'groupName',
    name: 'groupName',
    value: settings['groupName'],
    required: true})
}}

{{ forms.textField({
    label: 'Username Email'|t,
    instructions: 'Email address of the API user',
    id: 'username',
    name: 'username',
    value: settings['username'],
    required: true})
}}

{{ forms.passwordField({
    label: 'Password'|t,
    instructions: 'password of the API user',
    id: 'password',
    name: 'password',
    value: settings['password'],
    required: true})
}}

{{ forms.field({
    label: "Cron Job",
    instructions: "Create a cron job with the following command to send the email on a scheduled basis (e.g. every Monday @ 0:00 ). Change `"~phpBinPath~"` to the PHP path (if different).<br>"~code })
}}

{{ forms.textField({
    label: 'Email address'|t,
    instructions: 'Email address where the digest is sent to',
    id: 'email',
    name: 'email',
    value: settings['email'],
    required: true})
}}

<div class="buttons">
    <a href="{{ cpUrl()~'/k4-carla-tools/preview' }}" class="btn">Preview Email</a>
    <a href="javascript:void(0);" id="k4-carla-tools-send-email" class="btn submit">Send Email</a>
    <div class="utility-status">
        <div class="progressbar" style="opacity: 0;">
            <div class="progressbar-inner" style="width: 100%;"></div>
        </div>
        <div class="progressbar-status hidden"></div>
        <div class="alldone" data-icon="done" style="opacity: 0;"></div>
    </div>
</div>


{% css %}
    .utility-status {
    float: left;
    margin-left: 10px;
    display: block;
    position: relative;
    width: 100px;
    height: 40px;
    }
    .utility-status .alldone {
        margin-top: 11px;
    }
    .utility-status .progressbar {
        width: 100%;
        left: 0;
        top:14px;
    }

{% endcss %}
{% js %}
    $(document).ready(function () {
    $('#settings-k4-carla-tools-send-email')
    .off('click')
    .on('click', function () {
    $('.utility-status .progressbar').css('opacity', 1);
    $.get(
    "{{ cpUrl()~'/k4-carla-tools/send' }}"
    )
    .done(
    function (result) {
    $('.utility-status .progressbar').css('opacity', 0);
    $('.utility-status .alldone').css('opacity', 1);
    })
    .fail(
    function (error) {
    console.log(error);
    });
    });
    });

{% endjs %}
